
<header>
  <div class="row text-center">
    <div class="container">
      <ul class="navbar no-bullets">
        <li><%= link_to "Home", root_path %></li>

        <li><%= link_to "Products", "/jewelries/:jewelry_id/items" %></li>
      </ul>
    </div>
  </div>
</header>
